<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="styles/style.css" />
  </head>
  <body>
    <%- include('../partials/header') %>
    <main class="after-search-grid">
      <% data.forEach(element => { %>
      <div>
        <h3><%= element.name %></h3>
        <p class="price"><%= element.price %></p>
        <img src="<%= element.image %>" alt="<%= element.name %>" />
        <p><%= element.description %></p>
        <form action="/add" method="POST">
          <input
            type="hidden"
            name="name"
            value="<%= element.name %>"
            required
          />
          <input
            type="hidden"
            name="price"
            value="<%= element.price %>"
            required
          />
          <input
            type="hidden"
            name="image"
            value="<%= element.image %>"
            required
          />
          <input
            type="hidden"
            name="description"
            value="<%= element.description %>"
            required
          />
          <button>add-to-card</button>
        </form>
      </div>
      <% }) %>
    </main>
  </body>
</html>
