<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="styles/style.css" />
  </head>
  <body>
    <!-- name, price, image, and description -->
    <%- include('../partials/header') %>
    <main class="after-search-grid">
      <% data.forEach(element => { %>
      <div>
        <h3><%= element.name %></h3>
        <p><%= element.price %></p>
        <img src="<%= element.image_link %>" alt="<%= element.name %>" />
        <p><%= element.description %></p>
      </div>
      <% }) %>
    </main>
  </body>
</html>
